$color-titulos: darkred;
$color-parrafos: wheat;
$color-items: white ;
$color-hover:#303030;
$color-active: #3f0e0e;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(48,48,48);
    background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(0,0,0,1) 25% 75%, rgba(48,48,48,1) 100%);
}


    
@font-face {
    font-family: 'MarcellusSC-Regular';
    src: url(../fonts/Marcellus_SC/MarcellusSC-Regular.ttf);
   
}

ul{
    list-style: none;
    a{
        text-decoration: none;
        color: $color-items;
    }
}



img{
    max-width: 100%;
}

h1{
    display: none;
}


h2{
    font-family: 'MarcellusSC-Regular';
    color: $color-titulos;
    font-size: 2rem;
    text-shadow: 5px 5px 12px black;
}


h3{
    color: $color-titulos;
    font-family: 'MarcellusSC-Regular';
    padding-bottom: 0.5rem;
    font-size: 1.50rem;
    text-shadow: 5px 5px 12px black;
}


h4{
    font-family: 'MarcellusSC-Regular';
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    color: $color-parrafos;
    text-shadow: 5px 5px 12px black;
}

p{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: $color-parrafos;
}

@mixin flexbox($direction){
    display: flex;
    flex-direction: $direction;
}

@keyframes cambia-filtro{
    0%{filter: none()};
    25%{filter: sepia()};
    50%{filter: none()};
    75%{filter: sepia()};
    100%{filter: none() };
}